.container {
    display: flex;
    justify-content: space-between; /* 수평으로 공간 분배 */
    align-items: center; /* 수직으로 가운데 정렬 */
    max-width: 100%;
  }

table {
    min-width: 300;
    width:auto;
    /* width: 100; */
    /* border-collapse: collapse; */
    /* font-size: medium; */
    font-size: small;
}

button {
    cursor: pointer;
    font-size: x-small;
}

.iframe100{
    display: block;
    border: none;
    height: 100vh;
}